

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}
.menu li{
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    display: block;
    line-height: 1;
    transition: 0.3s;
}

.hamburger{
    position: relative;
    width: 30px ;
    height: 4px;
    background: #672717;
    border-radius: 10px;
    cursor: pointer;
    z-index: 20;
    transition: 0.3s;
}
.hamburger::before,.hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #672717;
    border-radius: 10px;
    transition: 0.3s;
    /* z-index: 20; */
}

.hamburger::before{
    top: -10px;
    width: 20px;
}
.hamburger::after{
    top: 10px;
    width: 25px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 30;
    cursor: pointer;
    opacity: 0;
}

.hamburger,.toggle-menu{
    display: none;
}

.navigation input:checked ~ .hamburger{
    background: transparent;
}
.navigation input:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
    background: white;
}
.navigation input:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
    background:  white;
}

.navigation input:checked ~ .menu{
    right: 2rem;
    /* box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3); */
}

@media screen and (max-width:600px) {
    .hamburger,.toggle-menu{
        display: block;
        margin-right: 2rem;
        right: 1rem;
        top: 0.5rem;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 2.5rem;
        right: -300px;
        color: white;
        border-radius: 0.8rem;
        background: #672717;
        /* background: blue; */
        width: 10rem;
        /* height: 100%; */
        padding-top: 65px;
    }
    .menu li{
        width: 100%;
    }
    .menu li a{
        padding: 0.8rem;
    }
    .menu li a:hover{
        box-shadow: 0 -5px 0px #fff inset,500px 0 0 rgba(255, 255, 255, 0.03)inset;
        /* padding: 35px 25px 45px 25px; */
    }
}